<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
    <title>Battleship</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Battleship</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <form class="navbar-form navbar-right">
			<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Sign in</a>
			<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
			<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		  </form>
		</div>
	  </div>
	</nav>

	<div class="container">

	</div>
</body>
</html>