<!doctype html>
<html>
  <head>
  
    <meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
    <title>Select chat partner</title>
    <style>
      #chatPartners { list-style-type: none; margin: 0; padding: 0; }
    </style>
  </head>
  <body>
	<center>
		<h1>Select Chat Partner</h1>
	
		<ul id="chatPartners"></ul>
	</center>
	
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	  var socket = io();
	  socket.emit('username registration',{'<%= id %>'});
	  
	  socket.on('user login', function(msg){
		$('#chatPartners').empty();
		for(idx = 0; idx < msg.partners.length; idx++)
		{
			$('#chatPartners').append($('<li>').html(msg.partners[idx]));
		}
	  });
	</script>
	
  </body>
</html>