<!doctype html>
<html>
  <head>
  
    <meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
    <title>Select Opponent</title>
    <style>
      #Opponents { list-style-type: none; margin: 0; padding: 0; }
      #Opponents li { padding: 5px 10px; }
      #Opponents li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
	<center>
		<h1>Select Opponent</h1>
		
		<ul id="Opponents">
			<li>Single Player Game (<a href="/singlePlayer">Begin Game</a>)</li>
		</ul>
		
		<ul id="Opponents" class="RefreshableClientList"></ul>
	</center>
	
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	  var socket = io();
	  socket.emit('username registration','<%= id %>');
	  
	  socket.on('user login', function(msg){
		$('.RefreshableClientList').empty();		
		for(idx = 0; idx < msg.length; idx++)
		{
			var username = msg[idx].username;
			var profileLink = "(<a href='/profile/"+username+"'>profile</a>)";
			var challengeLink = "(<a href='/challenge/"+username+"'>challenge</a>)";
			var finalHtml = username + " " + profileLink + " " + challengeLink;
			
			$('.RefreshableClientList').append($('<li>').html(finalHtml));
		}
	  });
	</script>
	
  </body>
</html>